*,
*::after,
*::before {
  box-sizing: border-box;
}
.page-body {
  font-family: "Monsterrat";
  src: url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf)
    format("truetype");
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  padding: 0%;
}
.navbar-item {
  padding: 0;
  margin-top: 25px;
  text-align: center;
}
.navbar-list {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
  margin-left: 72px;
}
.navbar-list-first {
  margin-left: 0;
}
.navbar-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
  text-align: center;
}
.img {
  width: 100%;
  height: 100%;
}
.caption {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  color: #373737;
  margin-top: 48px;
  text-transform: uppercase;
}
.caption_text {
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin-top: 38px;
  padding-left: 67px;
  padding-right: 67px;
}
.buttun-item {
  display: block;
  background-color: #ff0000;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  padding: 17px 42px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 66px;
  text-transform: uppercase;
}
.futer-caption {
  text-align: right;
  margin-top: 82px;
  margin-right: 105px;
}
.page-footer {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 2.4px;
  color: #373737;
}
